parameters:
	ignoreErrors:
		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 2
			path: src/Authenticator.php

		-
			message: "#^Cannot call method get\\(\\) on mixed\\.$#"
			count: 1
			path: src/ServiceProvider.php
